<!DOCTYPE html>
<html>
<head>
  <title>Attributable</title>
  <%= stylesheet_link_tag    "attributable/application", :media => "all" %>
  <%= javascript_include_tag "attributable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
